{% extends "layout.html" %}

{% block page_title %}
  GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
        <div class="column-full">
          <header>
          <h1 class="heading-large"><span lang="en">Applying for someone else</span><span lang="ar">التقدم نيابة عن شخص آخر</span></h1>
        </header>

        <form action="check-your-answers" method="get"  autocomplete="off" novalidate="true" spellcheck="false">

        <div id="applicant-email-address-group" class="form-group  form-group">
          <label for="applicant-email-address" class="form-label-bold">
            <span lang="en">What is your email address?</span><span lang="ar">ما عنوان بريدك الإلكتروني؟</span>
          </label>
          <input
            type="text"
            name="applicant-email-address"
            id="applicant-email-address"
            class="form-control"
            aria-required="true"
            maxlength="127">
        </div>
        <div id="applicant-contact-details-group" class="form-group  form-group">
          <label for="applicant-contact-details" class="form-label-bold">
            <span lang="en">Enter your name and address. Include your business name if appropriate.</span><span lang="ar">اذكر اسم شركتك وأدخل اسمك وعنوانك</span>
          </label>
          <textarea
            name="applicant-contact-details"
            id="applicant-contact-details"
            class="form-control"
            aria-required="true"
            maxlength="200"></textarea>
        </div>
        <button class="button" id="continue"><span lang="en">Continue</span><span lang="ar">استمر</span></button>
        </form>
      </div>
    </div>
  </main>

{% endblock %}
