{% extends "layout.html" %}

{% block page_title %}
  GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
        <div class="column-full">
          <header>
          <h1 class="heading-large"><span lang="en">Applying for someone under 18</span><span lang="ar">هل تتقدم نيابة عن شخص تحت سن 18</span></h1>
        </header>

        <form action="/apply-for-someone-else" method="get"  autocomplete="off" novalidate="true" spellcheck="false">

        <div id="applying-for-minor-group" class="form-group form-group">
          <div role="" aria-required="true">
            <legend class='form-label-bold'>
              <span><span lang="en">Are you applying for this electronic visa waiver for someone under 18?</span><span lang="ar">هل تقدم طلب الإعفاء الإلكتروني من التأشيرة نيابة عن شخص دون سن 18؟</span></span>
            </legend>
            <div class="multiple-choice">
              <input
                type="radio"
                name="applyingforminor"
                id="applying-for-minor-Yes"
                value="Yes"
                required="true">
              <label for="applying-for-minor-Yes">
                <span lang="en">Yes</span><span lang="ar">نعم</span>
              </label>
            </div>
            <div class="multiple-choice">
              <input
                type="radio"
                name="applyingforminor"
                id="applying-for-minor-No"
                value="No"
                required="true">
              <label for="applying-for-minor-No">
                <span lang="en">No</span><span lang="ar">لا</span>
              </label>
            </div>
          </div>
        </div>
        <button class="button" id="continue"><span lang="en">Continue</span><span lang="ar">استمر</span></button>
        </form>
      </div>
    </div>
  </main>

{% endblock %}
