{% extends "layout.html" %}

{% block page_title %}
  GOV.UK
{% endblock %}

{% block content %}
<main id="content" role="main" class="content-wrapper">
{% include "includes/phase_banner_beta.html" %}
<div class="grid-row">
  <div class="column-full">

    <header class="header-notice-complete">
        <h1 class='heading-large'><span lang="en">We have received your electronic visa waiver request</span><span lang="ar">لقد استلمنا طلب الإعفاء الإلكتروني من التأشيرة.</span></h1>
        <p><span lang="en">Your reference is</span><span lang="ar">رقم المرجع هو</span></p>
        <p id="application-reference">62884C8U</p>
      </header>

      <!-- end column-full -->
      </div>

      <div class="column-half" lang="en">
        <h3 class="heading-small">What happens next?</h3>

        <p>We will now check your details before we issue your electronic visa waiver - this can take up to 24 hours.</p>
        <p>We will email  within 24 hours with details of how to download it.</p>
        <p class="dont-break-out">Please add electronicvisawaiver@homeoffice.gsi.gov.uk to your safe senders list to make sure you get your download details. You should wait 24 hours before contacting us about your EVW</p>

        <h3 class="heading-small">Changing your details</h3>
        <p class="dont-break-out">Email <a href='mailto:electronicvisawaiver@homeoffice.gsi.gov.uk'>electronicvisawaiver@homeoffice.gsi.gov.uk</a> if you need to change your electronic visa waiver details​, eg if your UK arrival date has changed.</p>
        <p>Any changes must be made at least 48 hours before you travel to the UK.</p>
        <br>
      </div>

      <div class="column-half" lang="ar">
        <h3 class="heading-small">ما سيحدث تاليا؟</h3>

        <p>سنراجع معلوماتك قبل أن نصدر الإعفاء الإلكتروني من التأشيرة</p>
        <p>اذا كانت معلوماتك صحيحة، سنرسل للعنوان  سنراجع معلوماتك قبل أن نصدر الإعفاء الإلكتروني من التأشيرة. قد يستغرق هذا حوالي 24 ساعة.  </p>
        <p class="dont-break-out">الرجاء إضافة عنوان electronicvisawaiver@homeoffice.gsi.gov.uk  للائحة المرسلين الآمنين لكي تصلك معلومات التنزيل. يجب ان تنتظر 24 ساعة قبل ان تتصل بنا عن الإعفاء الإلكتروني من التأشيرة الخاص بك.</p>

        <h3 class="heading-small">تغيير المعلومات</h3>
        <p class="dont-break-out">راسل <a href='mailto:electronicvisawaiver@homeoffice.gsi.gov.uk'>electronicvisawaiver@homeoffice.gsi.gov.uk</a> إذا احتجت أن تغير أي من المعلومات في طلب الإعفاء الإلكتروني من التأشيرة، مثل تاريخ الوصول. </p>
        <p>يجب أن تتم كل التغييرات بمدة لا تقل عن 48 ساعة من موعد سفرك للمملكة المتحدة. </p>
        <br>
      </div>


      <a href="https://www.gov.uk/done/get-electronic-visa-waiver" class="button" id="finished"><span lang="en">Finished</span><span lang="ar">نهاية</span></a>


</div>

  </main>

{% endblock %}
