
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
      Get an electronic visa waiver to enter the UK - GOV.UK
  </title>

    <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-2775f99eaec64ff8121bfbfb3eb67b0c2b4b7c3fc78d25da30e12db2a09d30d6.css" crossorigin="anonymous" integrity="sha256-J3X5nq7GT/gSG/v7PrZ7DCtLfD/HjSXaMOEtsqCdMNY=">
<!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-5bb08c355a12ac38b0ac9d2446da122ec0f81c78e02dcd2a98766f53c23793c8.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-be1ea757827710f20eae59ae3ebfd172b7dbeabb171a79945ba610947eebb3cc.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-5ab4d0c7b42f2bf10f8c7aadf331a11f7399be832b0ee2c68c94071195a1e36e.css" /><![endif]-->
    <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" crossorigin="anonymous" integrity="sha256-EHZRlSHC//u/das7DTsy7i2WrH6XePHN+sF3Hu/RocA=">

    <!--[if IE 8]><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" /><![endif]-->
    <!--[if gte IE 9]><!--><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" crossorigin="anonymous" integrity="sha256-X/jFORNDSv0AcqSA18/KZ8rOTI0D9u+Wt4pEVXKM50U=">
<!--<![endif]-->
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-75db9d4df4993de5335d6e49013362743a78107245bcf6543337a0ecc0a95b41.js" crossorigin="anonymous" integrity="sha256-ddudTfSZPeUzXW5JATNidDp4EHJFvPZUMzeg7MCpW0E="></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-754c4bbe4dff193fdd2a69b95f05157a37c01273ea875a7ee2c5daeccf4e4cf4.css" crossorigin="anonymous" integrity="sha256-dUxLvk3/GT/dKmm5XwUVejfAEnPqh1p+4sXa7M9OTPQ=">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-9dc62a65b38a549d895c175755a9d44da89c4a463f8856948b7de8f2953abe84.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-c842376be3f12aa28f8a013d586e00c3f199bdb876bcdc10e472c289e5cd4a8e.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-d425cd132fa55d4aa2dc1a0381fc5f2224589147ae5bdeb07b8ce7e01960fac3.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-6f5487d928989a06927867f2a2ebf0632cb1626ce7c49ac31d41a96bdbf1d431.css" crossorigin="anonymous" integrity="sha256-b1SH2SiYmgaSeGfyouvwYyyxYmznxJrDHUGpa9vx1DE=">


  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-7e9fc083203712a483047b3d895b9a02866d8cb51002d8a4813c571a85140364.css" crossorigin="anonymous" integrity="sha256-fp/AgyA3EqSDBHs9iVuaAoZtjLUQAtikgTxXGoUUA2Q=">
<!--<![endif]--><link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/government-frontend/print-9e52619a28f6d0ef9fb0a8b9d8fe0c4f2ff35d8dbb2d28db2d600b8bffcc4e9a.css" crossorigin="anonymous" integrity="sha256-nlJhmij20O+fsKi52P4MTy/zXY27LSjbLWALi//MTpo=">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="GhnXp84mgP4T1un3odOTgQXwE5LhL/Nw6c625WwODUF0EpKGikc7Mjzw9tiqIA5iR+jHYIfW9iAhdvuvl3HKbg==">
<meta name="govuk:format" content="answer">
<meta name="govuk:schema-name" content="answer">
<meta name="govuk:analytics:organisations" content="&lt;OT554&gt;">
<meta name="govuk:user-journey-stage" content="thing">
<meta name="govuk:navigation-document-type" content="guidance">
<meta name="description" content="Apply for an electronic visa waiver (EVW) if you have a passport from Kuwait, Oman, Qatar or the United Arab Emirates ">
<meta name="govuk:content-id" content="c1347936-839b-4547-a570-0c315c34ee45">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie6-3dba32ef0823f4f1055d79a31e763f87e682b2bfe3483a092fb26a7818f4ebc7.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie7-3dba32ef0823f4f1055d79a31e763f87e682b2bfe3483a092fb26a7818f4ebc7.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie8-9d625e562c509f50350d2f06bebf677be01076475ade41878d34f8a238861d8f.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="government-frontend">
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>

      </div>
    </header>




    <div id="global-header-bar"></div>

      <div id="wrapper" class="direction-ltr">



<div class="govuk-breadcrumbs " data-module="track-click">
  <ol>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/" data-track-options='{"dimension28":"3","dimension29":"Home"}' class="" aria-current="false" href="http://www.gov.uk">Home</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/browse/visas-immigration" data-track-options='{"dimension28":"3","dimension29":"Visas and immigration"}' class="" aria-current="false" href="http://www.gov.uk/browse/visas-immigration">Visas and immigration</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/browse/visas-immigration/arriving-in-the-uk" data-track-options='{"dimension28":"3","dimension29":"Travelling to the UK"}' class="" aria-current="false" href="http://www.gov.uk/browse/visas-immigration/arriving-in-the-uk">Travelling to the UK</a>
    </li>
  </ol>
</div>


    <main role="main" id="content" class="answer" lang="en">

<div class="grid-row sidebar-with-body">
  <div class="column-two-thirds">
    <div class="pub-c-title

  pub-c-title--bottom-margin">
  <h1 class="pub-c-title__text ">
    Get an electronic visa waiver to enter the UK
  </h1>
</div>


<div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">

<div class="summary">
<p>You can get an electronic visa waiver (<abbr title="electronic visa waiver">EVW</abbr>) instead of a visa if you have a passport from Kuwait, Oman, Qatar or the United Arab Emirates. You must pay £15 for an <abbr title="electronic visa waiver">EVW</abbr>.</p>
</div>

<p>An <abbr title="electronic visa waiver">EVW</abbr> lets you visit the UK for up to 6 months for tourism, business, study or medical treatment. If you’re visiting for another reason, <a href="http://www.gov.uk/check-uk-visa">check if you need a visa instead</a>.</p>

<p>You must apply between 3 months and 48 hours before you travel.</p>

<p>To apply you need:</p>

<ul>
  <li>your current passport</li>
  <li>an address in the UK where you will stay</li>
  <li>details of your journey, including departure and arrival dates and times</li>
</ul>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p><a rel="external" href="index-begin">Apply online for an <abbr title="electronic visa waiver">EVW</abbr>.</a></p>
</div>

<h2 id="before-you-apply">Before you apply</h2>
<p>You must enter your personal details so they match your passport exactly. This includes any punctuation, eg spaces, hyphens, apostrophes or full stops.</p>

<p>Your travel details must also be exactly right.</p>

<div role="note" aria-label="Help" class="application-notice help-notice">
<p>You won’t be allowed to travel if your personal or travel details are wrong.</p>
</div>

<p>Each person travelling needs their own <abbr title="electronic visa waiver">EVW</abbr>, including children.</p>

<p>If someone applies on your behalf, they must enter their own contact details as well as yours.</p>

<h2 id="after-you-apply">After you apply</h2>

<p>You’ll get an email within 24 hours with a link to download your <abbr title="electronic visa waiver">EVW</abbr>.</p>

<p>You must print out your <abbr title="electronic visa waiver">EVW</abbr> and show it on departure and arrival. You can’t show an electronic copy of the <abbr title="electronic visa waiver">EVW</abbr>, eg on a phone or tablet.</p>

<p>You can’t use your <abbr title="electronic visa waiver">EVW</abbr> to:</p>

<ul>
  <li>work in the UK</li>
  <li>get married or register a civil partnership</li>
</ul>

<p>Your <abbr title="electronic visa waiver">EVW</abbr> will only let you enter the UK once. You must get another <abbr title="electronic visa waiver">EVW</abbr> or a visa if you want to enter the UK again.</p>

<h3 id="changes-to-your-travel-plans">Changes to your travel plans</h3>

<p>You must <a rel="external" href="https://www.electronic-visa-waiver.service.gov.uk/find-your-application/enter-your-details">change your travel details on your <abbr title="electronic visa waiver">EVW</abbr></a> if you’ll:</p>

<ul>
  <li>leave from or arrive at a different airport, port or train station than planned</li>
  <li>arrive in the UK more than 8 hours later than planned</li>
</ul>

<p>You’ll need your <abbr title="electronic visa waiver">EVW</abbr> number and your date of birth to change your details.</p>


</div>


  </div>
  <div class="column-third add-title-margin">
    <aside class="govuk-related-items" data-module="track-click" role="complementary">
      <h2 data-track-count="sidebarRelatedItemSection">
        Travelling to the UK
      </h2>


      <nav role="navigation">
        <ul>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/apply-uk-visa" data-track-options='{"dimension28":"3","dimension29":"Apply for a UK visa"}' href="http://www.gov.uk/apply-uk-visa">Apply for a UK visa</a>
            </li>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.2" data-track-label="/check-uk-visa" data-track-options='{"dimension28":"3","dimension29":"Check if you need a UK visa"}' href="http://www.gov.uk/check-uk-visa">Check if you need a UK visa</a>
            </li>
            <li class="related-items-more">
              <a data-track-category="relatedLinkClicked" data-track-action="1.3" data-track-label="/browse/visas-immigration/arriving-in-the-uk" data-track-options='{"dimension28":"3","dimension29":"More"}' href="http://www.gov.uk/browse/visas-immigration/arriving-in-the-uk">
                More
                  <span class="visuallyhidden">
                    in
                    Travelling to the UK
                  </span>
</a>            </li>
        </ul>
      </nav>
  </aside>

</div>

</div>


    </main>
  <div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve GOV.UK</h2>
      <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <input id="url" name="url" type="hidden" value="https://www.gov.uk/get-electronic-visa-waiver">

          <input id="source" name="source" type="hidden" value="">


          <input id="page_owner" name="page_owner" type="hidden" value="">


        <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        <label for="what_doing">What you were doing</label>
        <input id="what_doing" name="what_doing" type="text">

        <label for="what_wrong">What went wrong</label>
        <input id="what_wrong" name="what_wrong" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="/browse/benefits">Benefits</a></li>
          <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
          <li><a href="/browse/business">Business and self-employed</a></li>
          <li><a href="/browse/childcare-parenting">Childcare and parenting</a></li>
          <li><a href="/browse/citizenship">Citizenship and living in the UK</a></li>
          <li><a href="/browse/justice">Crime, justice and the law</a></li>
          <li><a href="/browse/disabilities">Disabled people</a></li>
          <li><a href="/browse/driving">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="/browse/education">Education and learning</a></li>
          <li><a href="/browse/employing-people">Employing people</a></li>
          <li><a href="/browse/environment-countryside">Environment and countryside</a></li>
          <li><a href="/browse/housing-local-services">Housing and local services</a></li>
          <li><a href="/browse/tax">Money and tax</a></li>
          <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
          <li><a href="/browse/visas-immigration">Visas and immigration</a></li>
          <li><a href="/browse/working">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="/government/how-government-works">How government works</a></li>
          <li><a href="/government/organisations">Departments</a></li>
          <li><a href="/government/world">Worldwide</a></li>
          <li><a href="/government/policies">Policies</a></li>
          <li><a href="/government/publications">Publications</a></li>
          <li><a href="/government/announcements">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/help/terms-conditions">Terms and conditions</a></li>
  <li><a href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-c4f303154d2a238bdda4d5cf1ebd8d4487822e4cbc3e4c83e743da869443ce72.js" crossorigin="anonymous" integrity="sha256-xPMDFU0qI4vdpNXPHr2NRIeCLky8PkyD50PahpRDznI="></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-cb0decd18b4b0abbece3cfc180d9adc8e11dfa693cf34c2ff1ffcda86e725301.js" crossorigin="anonymous" integrity="sha256-yw3s0YtLCrvs48/BgNmtyOEd+mk880wv8f/NqG5yUwE="></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-b4d49ae90baabd6d4bfce6154af2152599f1c6e6eafdacd38a9fb2e91c89f433.js" crossorigin="anonymous" integrity="sha256-tNSa6QuqvW1L/OYVSvIVJZnxxubq/azTip+y6RyJ9DM="></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-4b61468cf0d24d35c19f9a0c9d7cb7c0c61e7a1e0aa01894f836d5ab6dc00e3d.js" crossorigin="anonymous" integrity="sha256-S2FGjPDSTTXBn5oMnXy3wMYeeh4KoBiU+DbVq23ADj0="></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/government-frontend/application-b6af057ac563794cd9a306086ff7e990546cebe83309153e4e2bb7763c141cd9.js" crossorigin="anonymous" integrity="sha256-tq8FesVjeUzZowYIb/fpkFRs6+gzCRU+Tiu3djwUHNk="></script>
</body>
</html>
