{% extends "layout.html" %}

{% block page_title %}
  GOV.UK
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-full">
      <header>
          <h1 class="heading-large"><span lang="en">When was your passport issued?</span><span lang="ar">ما تاريخ إصدار جواز سفرك؟</span></h1>
        </header>

        <form action="passport-expiry" method="POST"  autocomplete="off" novalidate="true" spellcheck="false">

          <div id="passport-issue-date-group" class="form-group">
            <div class="form-date">
              <p class="form-hint"><span lang="en">For example, 30 9 2010</span><span lang="ar">على سبيل المثال، 2010 9 30</span></p>
              <div id="passport-issue-date-day-group" class="form-group ">
            <label for="passport-issue-date-day" class="form-label-bold">
              <span lang="en">Day</span><span lang="ar">اليوم</span>
            </label>
            <input
              type="text"
              name="passport-issue-date-day"
              id="passport-issue-date-day"
              class="form-control"
              aria-required="false"
               min="1"
               max="31"
               maxlength="2"
               pattern="[0-9]*"
               aria-describedby="passport-issue-date-hint">
          </div>

          <div id="passport-issue-date-month-group" class="form-group ">
            <label for="passport-issue-date-month" class="form-label-bold">
              <span lang="en">Month</span><span lang="ar">الشهر</span>
            </label>
            <input
              type="text"
              name="passport-issue-date-month"
              id="passport-issue-date-month"
              class="form-control"
              aria-required="false"
               min="1"
               max="12"
               maxlength="2"
               pattern="[0-9]*"
               aria-describedby="passport-issue-date-hint">
          </div>

          <div id="passport-issue-date-year-group" class="form-group ">
            <label for="passport-issue-date-year" class="form-label-bold">
              <span lang="en">Year</span><span lang="ar">السنة</span>
            </label>
            <input
              type="text"
              name="passport-issue-date-year"
              id="passport-issue-date-year"
              class="form-control"
              aria-required="false"
               maxlength="4"
               pattern="[0-9]*"
               aria-describedby="passport-issue-date-hint">
          </div>
            </div>
          </div>
        <button class="button" id="continue"><span lang="en">Continue</span><span lang="ar">استمر</span></button>
        </form>
    </div>
  </div>
</main>
{% endblock %}
